.services-container {
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    background-image: url('./services.jpg');
}

.services-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    z-index: 2;
    margin-bottom: 60px;
}

.services-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title {
    color: hsl(358, 63%, 49%);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.services-subtitle {
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}

.service-item-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    text-align: left;
    padding: 15px;
    width: 50%;
}

.service-item-title {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
}

.service-item-desc {
    font-size:  20px;        
}

.more-icon-container{
    display: inline;
}

.more-icon-services{
    font-size: 20px;
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 2px 2px 3px #999;
}

.services-pop-up-background{
    height: 100vh;
    width: 100vw;
    z-index: 8;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px)
}
.services-pop-up{
    height: auto;
    width: 70%;
    max-width: 800px;
    position: absolute;
    background: #fff;
    z-index: 20;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.services-pop-up-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 40px; */
}

.services-pop-up-title{
    text-align: center;
    font-size: 40px;
    color: hsl(358, 63%, 49%);
    margin-bottom: 20px;
    margin-top: 30px;
}

.services-pop-up-subtitle{
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    padding: 0px 10px 0px 10px;
}

.services-more-info-text{
    padding: 0px 30px 0px 30px;
    text-align: left;
    margin-bottom: 50px;
    font-size: 19px;
}

.services-close-icon{
    font-size: 30px;
    margin: 5px 5px 0px 0px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.tech-images-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0px 25px 0px;
}

.tech-images-section2{
    margin: 25px 0px 25px 0px;
    text-align: center;
}

.tech-img{
    height: 50px;
    width: auto;
}

.tech-icon{
    font-size: 50px;
}

@media (max-width: 1300px){
    .services-title {
        margin-bottom: 10px;
    }
    
    .services-subtitle {
        padding-bottom: 10px;
    }
    .service-item-desc {
        font-size: 18px;        
    }

    .services-sections {
        margin-bottom: 0px;
    }
}


@media(max-width: 1030px){

    .services-container {
        align-items: flex-start;
    }

    .services-sections {
        height: 100%;
    }

    .services-title {
        font-size: 35px;
        padding-top: 0px;
    }

    .services-subtitle {
        display: none;
    }

    .service-item-grid {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .service-item {
        width: 100%;
        padding: 0px;
    }

    .service-item-title {
        font-size: 25px;
        text-align: center;
    }

    .service-item-desc {
        text-align: center;
        font-size: 16px;
    }

    .services-pop-up-title{
        font-size: 30px;
    }
    
    .services-pop-up-subtitle{
        font-size: 20px;
    }
    
    .services-more-info-text{
        font-size: 18px;
    }
    
    .services-close-icon{
        font-size: 25px;
    }

}


@media(max-height: 675px) {
    .service-item-title {
        font-size: 20px;
    }

    .service-item-desc {
        font-size: 14px;
    }
}

@media(max-width: 675px){
    .services-title {
        font-size: 35px;
    }

    .services-pop-up{
        width: 90%;
        z-index: 12;
    }

    .service-item-title {
        font-size: 25px;
    }

    .service-item-desc{
        font-size: 15px;
    }
   
}


@media (max-width: 500px) {

    .services-container{
        padding-left: 4%;
        padding-right: 4%;
    }

    .services-title {
        font-size: 28px;
        margin-bottom: 0px;
    }

    .service-item-title {
        padding: 0px;
        font-size: 18px;
    }
 
    .service-item-desc {
        font-size: 14px;
    }

    .services-close-icon{
        font-size: 20px;
    }
    
    .services-pop-up{
        width: 95%;
        z-index: 12;
    }

    .services-pop-up-section{
        padding-bottom: 0px;
    }
    
    .services-pop-up-title{
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    .services-pop-up-subtitle{
       display: none;
    }
    
    .services-more-info-text{
        padding: 0px 10px 0px 10px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .tech-images-section{
        margin: 20px 0px 20px 0px;
    }

    .tech-images-section2{
        margin: 20px 0px 20px 0px;
    }
    
}

@media (max-width: 375px) {
    .services-title {
        font-size: 30px;
        margin: 0px;
    }

    .service-item-desc {
        font-size: 11.3px;
    }
}


@media (max-width: 340px) {
    .services-title {
        font-size: 25px;
    }

    .services-pop-up-title{
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .service-item-desc {
        font-size: 9.35px;
    }

    .services-more-info-text{
        font-size: 12px;
    }

    .tech-icon{
        font-size: 40px;
    }

    .tech-img{
        height: 40px;
        width: auto;
    }
}


