.home-container{
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    background-color: #e7e3e3;
} 
 
.home-title {
    color: hsl(358, 63%, 49%);
    font-size: 100px;
    font-weight: bold;
    z-index: 2;
}

.home-content {
    width: 96%;
    font-size: 35px;
    padding-top: 30px;
    text-align: center;
    z-index: 2;
    color: black;
    font-weight: bold;
}

@media (max-width: 775px) {
    .home-title {
        font-size: 80px;
    }
    .home-content {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .home-title {
        font-size: 50px;
    }
    .home-content {
        padding-top: 20px;
    }
}
