.clients-container {
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    background-image: url('./clients.jpg');
} 

.client-logo-img {
    /* max-width: 244px; */
    width: 100%;
    height: auto;
    padding: 5px;
    mix-blend-mode: multiply;
    margin-bottom: 100px;
}
.clients-title {
    color: hsl(358, 63%, 49%);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    width: 90%;
    margin-bottom: 70px;
    z-index: 2;
}


.clients-section {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 2;
}

@media (max-width: 775px) {
    .clients-title {
        font-size: 35px;
        margin-bottom: 50px
    }
}

@media (max-width: 436px) {
    .clients-title {
        font-size: 25px;
        margin-bottom: 10px;
    }
}
