.about-container {
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    background-color: #E8E8E8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-image: url('./services.jpg');
} 

.about-us-title {
    color: hsl(358, 63%, 49%);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    z-index: 2;
}

.about-us-subtitle{
    font-size: 50px;
    text-align: center;
    z-index: 2;
    color: hsl(358, 63%, 49%);
}

.mission-section {
    width: 850px;
    display: flex;
    z-index: 2;
}

.mission-content {
    width: 100%;
    padding-left:  20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 22px;
    color: black;
}

.mission-content > p {
    margin: 0;
}


@media( max-width: 775px){
    .about-us-title {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .about-us-subtitle{
        font-size: 45px;
    }

    .mission-section {
        width: 420px;/* this helped fix the text visibility on
        lowest shrink screen size*/
     }

    .mission-content {
        padding-left: 10px;
        margin-bottom: 15px;
    }
}

@media (max-width: 436px) {
    .about-us-title {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .about-us-subtitle{
        display: none;
    }
    
    .mission-section {
        width: 100vw;
        padding: 0 20px 0 20px;
    }

    .mission-content {
        font-size: 15px;
        margin-bottom: 10px;
    }
} 

@media (max-width: 320px) {
    .about-us-title {
        font-size: 30px;
        margin: 0;
    }

    .mission-content{
        font-size: 13px;
        margin: 0;
    }
}