.contact-container {
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    background-color: #F8F9FA;
    scroll-snap-align: start;
}

.contact-us-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    color: hsl(358, 63%, 49%);
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    margin-bottom: 10px;
}

.contact-us-subtitle {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    width: 70%;
    z-index: 2;
    font-weight: bold;
    color: hsl(358, 63%, 49%);
}

.contact-form-container {
    display: flex; 
    flex-direction: column;
    width: 50%;
    max-width: 725px;
    justify-content: center;
    z-index: 2;
    margin: 10px;
    padding: 20px;
}

.mail-icon {
    color: white;
    position: relative;
    top: 2px;
    margin-right: 8px;
}
.name-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.name {
    margin-right: 20px;
}

.name-div{
    width: 50%;
}
.input-box {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    padding-left: 5px;
    border-radius: 5px; 
    -webkit-appearance: none;
}

.top-marg{
    margin-top: 20px;
}

.input-box:focus {
    outline: none;
}

.input-body-box:focus {
    outline: none;
}

.input-body-box {
    width: 100%;
    height: 100px;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-appearance: none;
    margin-bottom: 3px;
}

.send-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.send-btn {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    background: hsl(358, 63%, 49%);;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 60px;
}

.send-btn:focus {
    outline: none;
}

.inline{
    display: inline;
}

.err-msg{
    font-size: 12px;
    color: hsl(358, 63%, 49%);
    padding-left: 5px;
}

@media(max-width: 1030px){
    .contact-form-container {
        width: 550px;
    }
}

@media(max-width: 765px){
    .contact-form-container {
        width: 60%;
    }

    .contact-title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .contact-us-subtitle {
        font-size: 20px;
        margin-bottom: 20px;
        width: 80%;
    }
}

@media(max-width: 680px){
    .send-btn{
        bottom: 0px;
    }
}

@media(max-width: 436px) {
    .contact-form-container {
        width: 90%;
    }

    .contact-title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    .contact-us-subtitle {
       text-align: center;
       margin-bottom: 10px;
    }

    .top-marg {
        margin-top: 10px;
    }

}

@media(max-width: 360px){

    .contact-us-subtitle {
       display: none;
    }
}

@media(max-width: 320px){

    .contact-title {
       margin-bottom: 0px;
    }
}