html {
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
}

body {
  margin: 0;
  overscroll-behavior-y: none; 
  /* this prevents overscrolling on first and last pages */
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

