.carousel{
    height: 68%;
    width: 75%;
    max-height: 575px;
    max-width: 1200px;
    z-index: 2;
    border-radius: 10px;
   
}

.carousel-inner {
    height: 100%;

}

.carousel-control-next,
.carousel-control-prev{
    width: 5%;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cc2e33' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cc2e33' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators .active{
    background-color: hsl(358, 63%, 49%);
}

.carousel-indicators li{
    background-color: rgba(204, 46, 51, .5);
}


.carousel-item{
    height: 100%;
    width: 100%;
}

.project-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    box-shadow: 5px 10px #888888;
   
}

.project-info{
    height: 55%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-summary{
    font-size: 18px;
    margin-top: 20px;
}

.project-header{
    font-size: 24px;
    font-weight: bold;
}

.project-content{
    font-size: 20px;
}

/* INDIVIDUAL PROJECT IMAGES STYLING */
.eklipse {
    width: 38%;
    height: auto;
    margin-right: 5%;
    margin-top: 50px;
}

.equiant {
    width: 36%;
    height: auto;
    margin-right: 5%;
    margin-top: 50px;
}

.hookes{
    width: 34%;
    height: auto;
    margin-right: 5%;
    margin-top: 10px;
}

.megalab{
    width: 40%;
    height: auto;
    margin-top: 10px;
}


@media( max-width: 1030px){

    .project-card{
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* INDIVIDUAL PROJECT IMAGES STYLING */
    .eklipse {
        width: 50%;
        height: auto;
        margin-right: 0px;
        margin-top: 10px;
        align-self: center;
    }

    .equiant {
        width: 42%;
        height: auto;
        margin-right: 0px;
        margin-top: 40px;
        align-self: center;
    }

    .hookes{
        width: 36%;
        height: auto;
        margin-right: 0px;
        margin-top: 10px;
        align-self: center;
    }

    .megalab{
        width: 50%;
        height: auto;
        margin-right: 0px;
        margin-top: 30px;
        align-self: center;
    }


    .project-summary{
        margin-top: 0px;
    }

    .project-info{
        height: 60%;
        width: 100%;
        padding: 10px;
        
    }

    .project-header{
        font-size: 22px;
    }
    
    .project-content{
        font-size: 18px;
    }
}

@media( max-width: 775px){
    .project-content{
        font-size: 16px;
    }

    .project-header{
        font-size: 18px;
    }

    .carousel-indicators{
        display: none;
    }
}

@media (max-width: 436px) {
    .carousel{
        height: 67%;
        width: 98%;
    }

    /* INDIVIDUAL PROJECT IMAGES STYLING */
    .eklipse {
        width: 60%;
        height: auto;
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .equiant {
        width: 56%;
        height: auto;
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .hookes{
        width: 46%;
        height: auto;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .megalab{
        width: 80%;
        height: auto;
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .project-info{
        height: 80%;
    }

    .project-summary{
        font-size: 15px;
        margin-top: 10px;
    }

    .project-header{
        font-size: 18px;
    }
    
    .project-content{
        font-size: 16px;
    }
}
@media (max-height: 667px) {
    .carousel{
        height: 78%;
    }
}

@media (max-width: 360px) {
    .carousel{
        height: 76%;
    }

    .hookes{
        width: 46%;
        height: auto;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .project-header{
        font-size: 16px;
    }
    
    .project-content{
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .carousel{
        height: 80%;
    }

    .hookes{
        width: 48%;
        height: auto;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .project-info{
        height: 80%;
    }

    .project-header{
        font-size: 14px;
    }
    
    .project-content{
        font-size: 13.8px;
    }
}
