.project-pop-up-background{
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    background-color: whitesmoke;
}
.project-pop-up-container{
    position: absolute;
    height: 95%;
    width: 90%;
    background: whitesmoke;
    z-index: 15;
    display: flex;
    max-width: 900px;
    /* flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    overflow: scroll;
    text-align: center;
}


.project-pop-up-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.close-btn-section{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pop-up-close-btn{ 
   background: none;
   border: none;
   font-size: 30px;
   margin: 5px 5px 0px 0px;
}

.pop-up-close-btn:focus{
    outline: 0;
}

.pop-up-close-btn:hover{
    cursor: pointer;
}

.popup-company-title{
    font-size: 40px;
    margin: 30px 0px 30px 0px;
}

.popup-project-image{
    height: 40%;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
}

.popup-project-description{
    font-size: 16px;
    margin: 2%;
}

@media (max-width: 900px){

    .project-pop-up-container{
        height: 90%;
        width: 80%;
    }

    .popup-company-title{
        font-size: 30px;
    }

    .popup-project-description{
        font-size: 16px;
    }

    .popup-project-image{
        height: auto;
        width: 95%;
        text-align: center;
    }
    
}

@media (max-width: 650px){
    .popup-project-image{
        margin-bottom: 0px;
    }

    .popup-project-description{
        font-size: 15.85px;
    }
}

@media (max-width: 436px) {
    .project-pop-up-container{
        height: 95%;
        width: 95%;
    }

    .popup-company-title{
        margin-top: 8px;
        font-size: 30px;
    }

    .popup-project-description{
        font-size: 15px;
        margin: 1%;
        overflow: scroll;
    }

    .pop-up-close-btn{ 
        font-size: 20px;
    }

    .popup-project-image{
        height: auto;
        width: 99%;
        margin-bottom: 0px;
    }
    
}