.projects-container {
    height: 100vh;
    width: 100vw;
    min-height: 568px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    background-image: url('./services.jpg');
}

.projects-title {
    color: hsl(358, 63%, 49%);
    font-size: 50px;
    margin-bottom: 1%;
    margin-top: 70px;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}

/* @media( max-width: 1030px){
    .projects-title{
        margin-bottom: 2%;
    }
} */

@media(max-width: 765px){
.projects-title{
    font-size: 30px;
}
}

@media (max-width: 436px) {
    .projects-container{
        justify-content: center;
    }
    
    .projects-title {
        margin-top: 0px;
        font-size: 24px;
        margin-bottom: 0px;
    }
}

@media(max-width: 320px){
    .projects-title {
        font-size: 20px;
    }
}
