.line-div {
    width: 2px;
    height: 40px;
    margin-bottom: 20px;
    background-color:gray;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(100vh - 104px);
    z-index: 2;
}

.page-home {
    top: calc(100vh - 104px);
}

.page-about {
    top: calc(200vh - 104px);
}

.page-services {
    top: calc(300vh - 104px);
}

.page-projects {
    top: calc(400vh - 104px);
}

.page-clients {
    top: calc(500vh - 104px);
}

.bottom-nav-link {
    color: hsl(358, 63%, 49%);
    font-size: 16px;
    letter-spacing: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-nav-link:hover {
    color: white
}

.bottom-nav-link:link {
    text-decoration: none;
}

@media(max-width: 1030px) {
    .bottom-container {
        display: none;
    }
}

@media(max-height: 700px ) {
    .bottom-container {
        display: none;
    }
}