.dot-nav-container {
    /* width: 20px; */
    position: fixed;
    left: 0;
    z-index: 7;
    margin-left: -8px;
    top: 38%;
}


.dot-nav-container > ul {
    list-style: none;
}

.dot-nav-icon {
    color: hsl(358, 63%, 49%);
    z-index: 8;
}

.circle-icon{
    box-shadow: 1px 1px 2px #999;
    border-radius: 20px;
    font-size: 18px;
}

.dot-nav-icon:hover {
    color: hsl(358, 63%, 49%);
    text-decoration: none;
}

.dot-nav-label{
    font-size: 16px;
    margin-left: 5px;
    color: hsl(358, 63%, 49%);
}

@media (max-width: 1030px){
    .dot-nav-container {
        display: none
    }
}