.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: hsl(358, 63%, 49%);
    font-size: 12px;
    padding: 0px 40px 20px 40px; 
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    z-index: 2;
}

.footer-icon {
    position: relative;
    top: 2px;
}

@media (max-width: 1030px){
    .footer {
        padding: 0px 25px 5px 25px; 
    }
}

@media (max-width: 600px){
    .contact-info {
        display: none;
    }

    .footer {
        justify-content: center;
        font-size: 10px;
    }
}