body {
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

/* AcePointe Div of Logo */

.acepointe-logo-container {
    margin-top: 30px;
    margin-left: 35px;
    position: fixed; 
    z-index: 10; 
}

/* AcePointe actual Image */

.acepointe-img {
    width: 50%;
}


/* Hamburger button */

#menu-btn {
    background: transparent;
    border: none;
    right: 0;
    position: fixed;
    margin-top: 35px;
    margin-right: 40px;
    z-index: 10;
    outline: none;
    display: none;
    cursor: pointer;
} 

.react-icon{
    font-size: 40px;
}


/* the DIV of the Nav Menu */

.pop-out-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    z-index: 8;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.pop-out-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.pop-out-menu-items-link:link {
    text-decoration: none;
}

.pop-out-menu-items-link:hover {
    color: black;
}

.pop-out-menu-items > li {
    margin: 2.5%;
}

.pop-out-menu-items-link {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    color: black;
}

@media (max-width: 1030px){
    #menu-btn{
        display: initial;
    }
}

@media (max-width: 1030px){
    .acepointe-logo-container {
        margin-top: 15px;
        margin-left: 20px;
    }
    #menu-btn {
        margin-top: 15px;
        margin-right: 15px;
    }  
}

@media (max-width: 436px){
    .acepointe-img {
        width: 35%;
    }

    .acepointe-logo-container {
        margin-top: 10px;
        margin-left: 15px;
    }

    #menu-btn {
        margin-top: 5px;
        margin-right: 5px;
    }  

    .react-icon {
        font-size: 30px;
    }

    .mobile-close{
        font-size: 40px;
    }

    #menu-btn{
        z-index: 10;
    }
}


@media (max-width: 320px){
    .acepointe-img {
        width: 28%;
    }

    .acepointe-logo-container {
        margin-top: 8px;
        margin-left: 12px;
    }

    #menu-btn {
        margin-top: 6px;
        margin-right: 6px;
    }  

    .react-icon {
        font-size: 28px;
    }
}
