.social-media-container {
    width: 40px;
    position: fixed;
    right: 0;
    z-index: 7;
    margin-right: 60px;
    top: 40%;
}

.social-media-container > ul {
    list-style: none;
}

.social-media-container > ul > li {
    padding-bottom: 15px;
}

.social-media-icon {

    color: hsl(358, 63%, 49%);
    font-size: 18px;
}

.social-media-icon:hover {
    color: white;
    cursor: pointer;
}

@media (max-width: 1030px){
    .social-media-container {
        display: none
    }
}